.custom_button {
  font: inherit;
  border: 1px solid #4f005f;
  background: #4f005f;
  color: white;
  padding: 0.25rem 1rem;
  cursor: pointer;
  border-radius: 5px;
}

.custom_button:hover,
.custom_button:active {
  background: #741188;
  border-color: #741188;
}

.custom_button:focus {
  outline: none;
}
